/*@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');*/
@media screen and (max-width: 400px){
    .nav-container{
        flex-direction: column;
    }
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .section-container{
        flex-direction: column;
    }
    .heading{
        font-size: 10px;
    }
    .abbrebiation h1{
        font-size: 20px;
    }
    .circle, .down-bracket, .people{
        font-size: 15px;
    }
    .section-2-container{
        flex-direction: column;
    }
    .paragraph{
        font-size: 10px;
    }
    .text-align h2{
        font-size: 10px;
    }
    .funny-videos{
        flex-direction: column;  
    }
    .online-games{
        flex-direction: column;   
    }
    .optional{
        flex-direction: column; 
    }
    .careers{
        flex-direction: column;  
    }
    .style{
        display: flex;
        position:relative;
        align-items:end;
        justify-content:left;
    }
    .privacy-container, .social-media-container, .terms-container{
        flex-wrap: wrap;   
    }

}