*{
    margin: 0px;
    padding: 0px;
}
#icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/*nav start*/
.nav-container{
    max-width: 1400px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 50px 10px;
    
}
.gamer-container{
    /*border: 1px solid yellow;*/
    max-width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.name{
    color: rgb(219, 99, 99);
}
.about-container{
    /*border: 1px solid green;*/
    /*max-width: 50%;*/
    display: flex;
    text-decoration: none;
    gap: 30px;
}
.about-container a{
    text-decoration: none;
    padding: 10px;   
}
.follow-container{
    background-color: rgb(216, 214, 214);
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding-right: 10px;
    gap: 5px; 
   
}
/* nav end */

/* section-1 start */

.section-container{
    max-width: 1400px;
    min-height: 50px;
    /*border: 1px solid red; */
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(250, 248, 247);
  
}
.text-container{
    width: 50%;
   
}
.heading{
    font-size: 22px;
    padding-bottom: 10px;  
}

.abbrebiation h1{
    font-size: 45px;
    background-image: linear-gradient( to top, #8562e7, #e675c4);
    -webkit-background-clip:  text;
    color: transparent;
    font-weight: bold;
    font-style: inherit;
      
}
.circle{
    display: flex;
    margin-top: 15px;
    color: gray;
    gap: 5px;
    font-size: 20px;
}

.down-bracket{
    display: flex;
    margin-top: 15px;
    color: gray;
    gap: 5px;
    font-size: 20px;
}

.people{
    display: flex;
    margin-top: 15px;
    color: gray;
    gap: 5px;
    font-size: 20px;
}

.btn{
    display: flex;
    gap: 30px;
    margin-top: 15px;  
}
.btn-1{
    background-color:rgb(252, 108, 168);
    border-radius: 30px;
    padding: 10px;
    border: none;  
    color: white; 
}
.btn-2{
    background-color: rgb(99, 202, 228);
    border-radius: 30px;
    padding: 10px;
    border: none;
    color: white; 
}
.section-container img{
    width: 100%;
    height: 400px; 
    
}

/* section-1 end */ 
/* section-2 start */ 
.section-2-container{
    max-width: 1400px;
    min-height: 50px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(253, 250, 248);
     
}
.section-2-container img{
    width: 100%;
    height: 300px;
}
.text-align{
    text-align: right;
    
}
.paragraph{
    padding-top: 20px;
    padding-bottom: 20px;
   
}
.text-align h3{
    padding-top: 20px;
}
.funny-videos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.funny-videos h1{
    font-size: 45px;
}
.funny{
    /*border: 1px solid rgb(46, 45, 45);*/
    max-width: 1400px;
    text-align: center;
}
.funny h1{
    padding: 10px;
}
.funny h6{
    padding: 10px;
}
.online-games{
    margin: 30px;
    max-width: 1400px;
    min-height: 50px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
.online-games img{
    width: 100%;
    height: 300px;
    
}
.online-games p{
    padding: 10px;
    color: gray;
    font-size: 15px;
}

.optional{
    margin: 30px;
    max-width: 1400px;
    min-height: 50px;
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.optional img {
    width: 100%;
    height: 350px;
   
}
.text-align {
    padding-left: 50px;
    gap: 10px;
}
.text-align p {
    color: gray;
    
}
.Rectangle-66{
    max-width: 1400px;
    min-height: 50px;
    border: 1px solid red;
    text-align: center;
}
.Rectangle-66 img{
    width: 15%;
    height: 230px;
    border: 5px solid white;
    position: relative;
    
}
.careers{
   
    max-width: 1400px;
    min-height: 50px;
    /*border: 1px solid red;*/ 
    display: flex;
    padding: 60px;
    background-color:rgb(243, 111, 181)
}
.careers img{
    width: 100%;
    height: 350px;  
}
.experience{
    color: white;
}
.experience h1{
    padding: 10px 15px 15px 0;
}
.experience p{
    padding: 10px 15px 15px 0;
    text-align: justify;
}

.style{
    float: right;
}
.btn-3{
    background-color:white ;
    border-radius: 30px;
    padding: 15px;
    border: none;
    color: red;
}
.button{
    max-width: 850px;
    min-height: 50px;
    /*border: 1px solid red;*/ 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin: 50px auto 50px;
    align-content: center;
    justify-content: center;
     
}

.border{
    border-radius: 30px;
    border: none;
    padding: 5px;
}
.border:hover{
    background-color: rgb(247, 241, 241);
    color: #e675c4;
    cursor: pointer;
    border: 2px solid red;
}
.button img{
    margin: 10px;
    width: 25px;   
}
.button p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container{
    max-width: 1400px;
    min-height: 50px;
    border: 1px solid red; 
    background-color: rgb(17, 4, 17);
    color: white;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 10px;
}
.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 50px; 
}
.product-icon{
    font-size: 25px;
}
.color-1{
    background-color: blue;
    color: white;
    border-radius: 50%;
}
.color-2{
    background-color:rgb(17, 4, 17);
    color: white;   
}
.footer-icon{
    
    color: #e675c4;   
}
.privacy-container, .terms-container{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer h6{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}










       
